* {
  margin: 0;
  padding: 0; }

body {
  font-family: Verdana, Tahoma, Arial, sans-serif;
  font-size: 12px;
  line-height: 18px; }

img {
  border: 0; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

h1 {
  font-size: 24px;
  line-height: 36px; }

h2 {
  font-size: 18px;
  line-height: 36px; }

h3 {
  font-size: 14px; }

h4 {
  font-size: 12px; }

h5 {
  font-size: 10px; }

p, form table {
  margin: 0 0 18px; }

ul, ol {
  margin: 0 0 18px 18px; }

form table th {
  vertical-align: top;
  padding: 0 5px 0 0;
  text-align: right; }

form table td {
  vertical-align: top;
  padding: 0 0 7px;
  text-align: left; }

label {
  white-space: nowrap;
  font-weight: bold; }

input[type="text"], input[type="password"] {
  width: 170px;
  font-size: 12px; }

input, textarea {
  padding: 2px 0 2px 2px; }

input[type="submit"], button {
  padding: 1px; }

select {
  padding: 2px; }

span form {
  display: inline; }

blockquote {
  padding: 0px 30px; }

.highlight {
  margin-bottom: 18px; }

#header, #footer {
  font-size: 11px; }

#header {
  padding: 13px 0 0;
  margin: 0 auto 20px;
  overflow: hidden; }

.columns {
  margin: 0 auto 0;
  overflow: hidden; }

.column {
  float: left;
  padding: 0;
  margin: 0; }

#footer {
  margin: 0 auto 0;
  padding: 40px 0; }

#header, #footer {
  width: 970px; }

.columns {
  padding: 0px 25px;
  width: 920px; }

#content {
  width: 635px;
  margin-right: 35px; }

#sidebar {
  width: 250px;
  float: right; }

html {
  background: black url(images/bgline.jpg) repeat-x top left; }

body {
  font-family: "Bitstream Vera Sans", Verdana, Arial, Helvetica, Sans, "Bitstream Vera Serif";
  font-size: 1em;
  width: 1024px;
  height: 791px;
  color: #feffb7;
  background: black url(images/bg.jpg) no-repeat scroll top left;
  margin: 0px; }

.relevant-projects, .recent-blog-posts {
  list-style: none;
  margin-left: 5px; }

a {
  color: #d3f1a8;
  text-decoration: none; }

a:hover {
  color: white; }

#contain {
  position: relative;
  top: 25px;
  left: 460px;
  width: 520px; }

.title {
  font: 3em Georgia, "Times New Roman", Times, serif;
  color: #78c553;
  padding-top: 60px; }

.menu2 {
  height: 40px; }

.bouquet {
  position: relative;
  top: 6px; }
  .bouquet img {
    float: left;
    clear: left;
    margin-right: 1em; }

.filler {
  clear: left;
  float: left;
  width: 2em;
  height: 150px; }

.footer2 {
  clear: both;
  position: relative;
  top: 20px;
  padding-top: 3px;
  border-top: 1px solid #cbcd65;
  font-size: 0.75em;
  text-align: right; }

h3 {
  clear: both;
  margin: 10px 0 10px 0;
  color: #9bd67c;
  font-weight: normal;
  font-size: 1.5em;
  letter-spacing: -2px; }

.hollyhack {
  height: 1%;
  margin-top: -8px;
  margin-left: 2px; }

#header {
  height: 135px;
  border-bottom: 4px solid #36393d;
  margin-bottom: 50px;
  margin-top: 20px; }

#header a, .post h1 a {
  color: #36393d;
  text-decoration: none; }

.post h1 a:hover {
  text-decoration: underline; }

#logo {
  float: left;
  margin-left: 350px; }
  #logo img {
    width: 270px; }

#search {
  display: inline;
  float: right; }

.menu {
  clear: both;
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 25px 0 0 0; }
  .menu li {
    display: inline;
    margin: 0 25px 0 0;
    font-size: 18px; }
    .menu li.active-menu-item {
      font-weight: bold;
      color: black; }

h1 {
  margin-bottom: 15px; }

h2 a.external, h3 a.external {
  color: #36393d;
  text-decoration: none; }
  h2 a.external:hover, h3 a.external:hover {
    text-decoration: underline; }

.post {
  line-height: 1.6em; }

.post-footer {
  padding: 5px;
  background-color: #f0edde;
  margin-bottom: 50px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px; }

.author {
  margin-bottom: 20px;
  font-size: 90%; }

.finished-reading {
  margin-top: 20px; }

.sidebar-block {
  margin-bottom: 30px; }

#sidebar form {
  background-color: #f0edde;
  padding: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px; }

.join-button {
  padding: 5px;
  margin-left: 5px;
  background-color: #36393d;
  color: white;
  font-weight: bold;
  text-decoration: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px; }

#follow-us-sidebar {
  margin-top: 8px; }

#blogroll, #recent-blog-posts {
  padding-right: 20px;
  padding-left: 0px; }
  #blogroll ul, #recent-blog-posts ul {
    margin-bottom: 10px;
    margin-left: 0px;
    list-style: none; }
    #blogroll ul li, #recent-blog-posts ul li {
      padding: 7px 0; }

#cse-search-form {
  width: 240px; }

#footer {
  margin-top: 20px;
  border-top: 5px solid #36393d; }
  #footer * {
    text-align: center; }

.feed-widget {
  clear: both;
  margin-bottom: 10px; }

div.profile-img-div.figure.align-left {
  margin-left: 0; }

.profile-img {
  padding: 5px;
  border: 1px solid #f0edda; }

.project-links {
  list-style: none;
  margin-left: 0px; }
  .project-links li {
    display: inline;
    margin-right: 10px; }

p.dsq-widget-meta {
  background-color: #f0edde;
  padding: 5px !important;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px; }

ul.dsq-widget-list {
  margin: 0; }
